
.Itemtitle {
    background: #f8f8f8 none repeat scroll 0 0;
    height: 38px;
    line-height: 38px;
    position: relative;
}

.Itemtitle h2 {
    color: #d20001;
    font-size: 14px;
    font-weight: bold;
    text-indent: 12px;
}
.mb_line{
	margin: 5px;
}
.screeBox {
    border-bottom: 1px dashed #eee;
    line-height: 36px;
    margin: 0 10px;
}
.pt5 {
    padding-top: 5px;
}

.screeBox .fitel {
    color: #000;
    font-weight: bold;
    line-height: 24px;
    padding: 5px 0 5px 15px;
    text-align: right;
    width: 70px;
}

.screeBox .fiter a {
    color: #0078b6;
    padding: 0 5px;
}

.screeBox .fiter span {
    background: #fe6601 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 0 6px 0 5px;
}

.screeBox .fiter span s {
   /*  background: #fe6601 url("../images/select.jpg") no-repeat scroll right top; */
   color:red;
    display: inline-block;
    height: 9px;
    margin-left: 4px;
    width: 9px;
    font-weight: bolder;
}

.screeBox .fiter {
    color: #0078b6;
    line-height: 24px;
    overflow: hidden;
    padding: 5px 0 5px 15px;
    width: 823px;
}


#has_select {
    margin: 3px 10px 0;
}
#has_select .fitel {
    color: #f60;
    font-weight: bold;
    line-height: 24px;
    overflow: hidden;
    padding: 5px 0 5px 15px;
    text-align: right;
    width: 70px;
}

#has_select .fiter {
    line-height: 24px;
    overflow: hidden;
    padding: 5px 0 5px 15px;
    width: 700px;
}

#has_select .fiter a {
    background: #fe6601 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0 6px 0 5px;
}

#has_select .fiter a s {
    background: #fe6601 url("../images/no_select.gif") no-repeat scroll right top;
    display: inline-block;
    height: 9px;
    margin-left: 4px;
    width: 9px;
}

#has_select .choose_all {
    overflow: hidden;
    text-align: right;
    width: 100px;
}

#has_select .choose_all img {
    margin-top: 11px;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.market-banner-1{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    overflow: hidden;
    width: 1000px;
    margin: 0 2px;
    float: left;
}
/* 筛选下面的箭头选择 */
.title_bg {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #eee;
    height: 34px;
    padding: 0 10px;
}

.list_mode_ll {
    color: #000;
    display: inline;
    font-weight: bold;
    line-height: 34px;
    overflow: hidden;
    width: 67px;
}

.list_mode_l {
    display: inline;
    width: 256px;
}

.list_mode_l dl {
    float: left;
    height: 34px;
    line-height: 34px;
    margin-right: 0;
    position: relative;
    z-index: 1000;
}

.list_mode_l dl dt {
    background: rgba(0, 0, 0, 0) url("../images/sort_by.jpg") no-repeat scroll 54px 11px;
    color: #000;
    width: 74px;
}

.list_mode_l dl dt a {
    color: #000;
    display: block;
    height: 34px;
    line-height: 34px;
    text-indent: 10px;
}
.right .module_filter{
	margin:0 2px;
	width: 1000px;
}

.shop_con_list{
	margin:0 2px;
	width: 1000px;
}

.right .table_title .squares_ico {
    background: rgba(0, 0, 0, 0) url("../images/show_way_ico.gif") no-repeat scroll 0 -370px;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.right .table_title .list_ico {
    background: rgba(0, 0, 0, 0) url("../images/show_way_ico.gif") no-repeat scroll 0 -340px;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

/* 商品列表 */
.squares .list_pic { width: 1010px; }
.squares .list_pic li { float: left; width: 195px; height: 280px; padding-top: 20px; }
.squares .list_pic p { width: 160px; height: 160px; margin: 0 auto; background: #eee; }
.squares .list_pic p img { width: 160px; height: 160px; }
.squares .list_pic h3 { width: 160px; margin: 0 auto; word-break: break-all; word-wrap: break-word; }
.squares .list_pic h3 .text_link { display: block; text-align: center; height: 33px; margin-top: 10px; overflow: hidden; line-height: 18px; }
.squares .list_pic h3 .text_link a { font-size: 12px; font-family: "宋体"; font-weight: normal; text-decoration: none; color: #646464; }
.squares .list_pic h3 a:hover { color: red; text-decoration: underline; }
.squares .list_pic h3 span { display: block; padding: 5px 0; text-align: center; color: #fe5504; }
.squares .list_pic h3 b { display: block; text-align: center; font-size: 12px; color: #646464; font-weight: normal; }
.squares .list_pic h3 b a { color: #646464; }

.list .list_pic { width: 1010px; margin-bottom: 10px; }
.list .list_pic li { width: 760px; padding: 20px 0 0 20px; overflow: hidden; }
.list .list_pic p { float: left; width: 65px; height: 65px; }
.list .list_pic p img { width: 65px; height: 65px; }
.list .list_pic h3 { float: left; margin-left: 20px; padding-top: 10px; }
.list .list_pic h3 .text_link { float: left; width: 420px; height: 65px; overflow: hidden; }
.list .list_pic h3 .text_link .depict { display: block; width: 420px; height: 32px; margin-bottom: 5px; line-height: 16px; overflow: hidden; }
.list .list_pic h3 .text_link a { font-size: 12px; font-weight: normal; text-decoration: none; color: #646464; }
.list .list_pic h3 .text_link a:hover { color: red; text-decoration: underline; }
.list .list_pic h3 .text_link .info { font-weight: normal; font-size: 12px; color: #646464; }
.list .list_pic h3 .text_link .info span { padding-right: 20px; }
.list .list_pic h3 .price { float: left; width: 100px; text-align: center; color: #fe5504; }
.list .list_pic h3 b { float: left; text-align: center; font-size: 12px; font-family: "宋体"; font-weight: normal; color: #646464; }
.list .list_pic h3 b a { color: #646464; }
.list .list_pic h3 b a:hover { color: red; }