{include file="header.html"}
<script type="text/javascript">
$(function(){
    $('#add_time_from').datepicker({dateFormat: 'yy-mm-dd'});
    $('#add_time_to').datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
<style type="text/css">
    input.queryInput2{
        width: 72px;
    }
   
</style>
<div id="rightTop">
    <p>{$lang.admin_drawlist}</p>
    <ul class="subnav">
        <li><span>{$lang.manage}</span><span style="letter-spacing:2px;color: #4685D4;margin-left: 30px;font: 100 12px/12px 'MicroSoft YaHei';">({$lang.admin_des})</span></li>
    </ul>
</div>
<div class="mrightTop">
    <div class="fontl">
        <form method="get">
             <div class="left">
                <input type="hidden" name="app" value="order" />
                <input type="hidden" name="act" value="admin_drawlist" />
                <span class="querySelect" name="field">{$lang.user_obj_name}
                </span>:<input class="queryInput" type="text" name="search_name" value="{$smarty.get.search_name|escape}" />
                <select class="querySelect" name="status">
                    <option value="">{$lang.plat_form}</option>
                    {html_options options=$plat_form_list selected=$smarty.get.status}
                </select>
                {$lang.add_time_from}:<input class="queryInput2" type="text" value="{$smarty.get.add_time_from}" id="add_time_from" name="add_time_from" class="pick_date" />
                {$lang.add_time_to}:<input class="queryInput2" type="text" value="{$smarty.get.add_time_to}" id="add_time_to" name="add_time_to" class="pick_date" />
                {$lang.order_amount_from}:<input class="queryInput2" type="text" value="{$smarty.get.order_amount_from}" name="order_amount_from" />
                {$lang.order_amount_to}:<input class="queryInput2" type="text" style="width:60px;" value="{$smarty.get.order_amount_to}" name="order_amount_to" class="pick_date" />
                <input type="hidden"name="cancel_is_show" value="1"/>
                <input type="submit" class="formbtn" value="{$lang.query}" />
            </div>
            <!--{if $smarty.get.cancel_is_show}-->
            <a class="left formbtn1" href="index.php?app=order&act=admin_drawlist">{$lang.cancel_query}</a>
            <!--{/if}-->
        </form>
    </div>
    <div class="fontr">
        {if $money_history_admin}{include file=page.top.html}{/if}
    </div>
</div>
<div class="tdare">
    <table width="100%" cellspacing="0" class="dataTable">
        <!--{if $money_history_admin}-->
        <tr class="tatr1">
            <td width="5%" class="firstCell"><span ectype="order_by" fieldname="seller_id">序号</span></td>
            <td width="10%" class="firstCell"><span ectype="order_by" fieldname="seller_id">{$lang.user_obj}</span></td>
            <td width="10%"><span ectype="order_by" fieldname="order_sn">{$lang.plat_form}</span></td>
            <td width="12%"><span  eq 1ectype="order_by" fieldname="add_time">{$lang.add_time}</span></td>
            <td width="12%"><span ectype="order_by" fieldname="order_amount">{$lang.price_total}</span></td>
            <td width="12%"><span ectype="order_by" fieldname="history_price">{$lang.history_price}</span></td>
            <td width="8%">{$lang.payment_name}</td>
            <td width="8%"><span ectype="order_by" fieldname="status">收入/支出</span></td>
            <td width="30%"><span ectype="order_by" fieldname="status">备注</span></td>
        </tr>
        <!--{/if}-->
        <!--{foreach from=$money_history_admin item=admin name=name}-->
        {if $admin.transaction_type eq 1}
        <tr class="tatr2" style="color: #43DDD1">
            <td style="color: #000;"><b>{$smarty.foreach.name.iteration}</b></td>
            <td class="firstCell">{$admin.user_name|escape}</td>
            <td>{$admin.plat_form_des}</td>
            <td>{$admin.pay_time_des}</td>
            <td>{$admin.receive_money|price}</td>
            <td>{$admin.use_money_history|price}</td>
            <td>{$admin.money_from_des|escape}</td>
            <td>支出</td>
            <td>{$admin.comments|escape}</td>   
        </tr>
        {else}
        <tr class="tatr2" style="color: #D42020">
            <td style="color: #000;"><b>{$smarty.foreach.name.iteration}</b></td>
            <td class="firstCell">{$admin.user_name|escape}</td>
            <td>{$admin.plat_form_des}</td>
            <td>{$admin.pay_time_des}</td>
            <td>{$admin.receive_money|price}</td>
            <td>{$admin.use_money_history|price}</td>
            <td>{$admin.money_from_des|escape}</td>
            <td>收入</td>
            <td>{$admin.comments|escape}</td>   
        </tr>
        {/if}
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="7">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}-->
        <input type="hidden" id="token" value="{$token}">
    </table>
    <div id="dataFuncs">
        <div class="pageLinks">
            {if $orders}{include file=page.bottom.html}{/if}
        </div>
    </div>
    <div class="clear"></div>
</div>
{include file="footer.html"}
<script type="text/javascript">
     var token = $("#token").val();
    $(function(){
        var site_url="{$site_url}";
       
        $(".confirm_click").click(function(event) {
            if ($(this).attr("disabled")) {
                return ;
            }
            var receive_url=site_url + "admin/index.php?app=order&act=received_pay&order_id=";
            var order_id = $(this).attr("order_id");
            var seller_id= $(this).attr("seller_id");
            var a_obj=$(this);
            receive_url=receive_url+order_id;
            var content=  prompt("您将确认订单"+seller_id+"？备注信息：");

            //如果不是取消就发送ajax请求
            if (content!=null) {
               $.ajax({
                    url: receive_url,
                    type: 'POST',
                    dataType: 'json',
                    data: {remark: content,token:token},
                    success:function(data){
                        if (data.code==0) {
                            a_obj.attr("disabled", "disabled"); 
                            a_obj.css("text-decoration","none");
                            a_obj.css("color", "#4A4747"); 
                            a_obj.html("待发货");
                            location.reload();

                        }else{
                            alert(data.message+",错误码是"+data.code);
                           
                        }
                    }
                })
            }
        });

        $('.to_fac_confirm').click(function () {
            if ($(this).attr("disabled")) {
                return ;
            }
            var receive_url=site_url + "admin/index.php?app=order&act=confirm_pay_tofac&order_id=";
            var order_id = $(this).attr("order_id");
            var seller_id= $(this).attr("seller_id");
            var a_obj=$(this);
            receive_url=receive_url+order_id;
            var content=  prompt("您将给商家付款"+seller_id+"？备注信息：");
            //如果不是取消就发送ajax请求
            if (content!=null) {
               $.ajax({
                    url: receive_url,
                    type: 'POST',
                    dataType: 'json',
                    data: {remark: content,token : token},
                    success:function(data){
                        if (data.code==0) {
                            $(a_obj).attr("disabled", "disabled"); 
                            $(a_obj).css("text-decoration","none");
                            $(a_obj).css("color", "#4A4747"); 
                            $(a_obj).html("已完成");

                        }else{
                            alert(data.message+",错误码是"+data.code);
                           
                        }
                    }
                })
            }     

        });
    })
</script>
