{include file="header.html"}
<script type="text/javascript">
$(function(){
    $('#add_time_from').datepicker({dateFormat: 'yy-mm-dd'});
    $('#add_time_to').datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
<style type="text/css">
    input.queryInput2{
        width: 90px;
    }
</style>
<div id="rightTop">
    <p>{$lang.drawlist}</p>
    <ul class="subnav">
        <li>
            <span>{$lang.record}</span>
        </li>
    </ul>
</div>
<div class="mrightTop">
    <div class="fontl">
        <form method="get">
            <div class="left">
                <input type="hidden" name="app" value="order" />
                <input type="hidden" name="act" value="drawlist" />
                用户名称检索：
                <input name="user_name" value="{$smarty.get.user_name}"style="width: 90px">
                <select class="querySelect" name="record_type">
                    <option value="">记录选择</option>
                    <option value="recharge"{if $smarty.get.record_type eq 'recharge'}selected{/if}>充值记录</option>
                    <option value="withdraw"{if $smarty.get.record_type eq 'withdraw'}selected{/if}>提现记录</option>

                </select>
                <select class="querySelect" name="status">
                    <option value="">{$lang.search_status}</option>
                    <option {if $smarty.get.status eq 'success'}selected{/if}  value="success">{$lang.success_status}</option>
                    <option {if $smarty.get.status eq 'waiting_status'}selected{/if}   value="waiting_status">{$lang.waiting_status}</option>
                </select>
                {$lang.add_time_from}:
                <input class="queryInput2" type="text" readonly="readonly" value="{$smarty.get.add_time_from}" id="add_time_from" name="add_time_from" class="pick_date" />
                {$lang.add_time_to}:
                <input class="queryInput2" type="text" readonly="readonly" value="{$smarty.get.add_time_to}" id="add_time_to" name="add_time_to" class="pick_date" />
                {$lang.order_amount_from}:
                <input class="queryInput2" style="width:60px" type="text" value="{$smarty.get.order_amount_from}" name="order_amount_from" />
                {$lang.order_amount_to}:
                <input class="queryInput2" type="text" style="width:60px;" value="{$smarty.get.order_amount_to}" name="order_amount_to" class="pick_date" />
                <input type="submit" class="formbtn" value="{$lang.query}" />
            </div>
            <!--{if $init_btn}-->
            <a class="left formbtn1" href="index.php?app=order&act=drawlist">{$lang.cancel_query}</a>
            <!--{/if}--> </form>
    </div>
    <div class="fontr">{if $orders}{include file=page.top.html}{/if}</div>
</div>
<div class="tdare">
    <table width="100%" cellspacing="0" class="dataTable">
        <!--{if $recharge_arr}-->
        <tr class="tatr1">
            <td width="15%" class="firstCell">
                <span ectype="order_by" fieldname="seller_id">{$lang.buyer_name}</span>
            </td>
            <td width="15%" class="firstCell">
                <span ectype="order_by" fieldname="seller_id">{$lang.record_type}</span>
            </td>
            <td width="15%">
                <span ectype="order_by" fieldname="order_sn">{$lang.order_sn}</span>
            </td>
            <td width="10%">
                <span ectype="order_by" fieldname="add_time">{$lang.add_time}</span>
            </td>
            <td width="10%">
                <span ectype="order_by" fieldname="buyer_name">{$lang.seller_name}</span>
            </td>
            <td width="10%">
                <span ectype="order_by" fieldname="order_amount">{$lang.order_amount}</span>
            </td>
            <td>{$lang.payment_name}</td>
            <td width="8%">
                <span ectype="order_by" fieldname="status">{$lang.status}</span>
            </td>
            <td width="8%">{$lang.handler}</td>
           
        </tr>
        <!--{/if}-->
        <!--{foreach from=$recharge_arr item=recharge}-->
        <tr class="tatr2" style="color: {if $recharge.recharge_status eq 1}
        {if $recharge.pay_status neq 81}#fa5757{else}#9ADE1B{/if}{else}#2824da{/if}">
            <td class="firstCell">{$recharge.user_name|escape}</td>
            <td >{if $recharge.recharge_status eq 1}提现记录{else}充值记录{/if}</td>
            <td>
                {$recharge.recharge_sn}&nbsp;&nbsp;
                <!--{if $order.extension eq 'groupbuy'}-->
                [{$lang.groupbuy}]
                <!--{/if}--> </td>
            <td>{$recharge.first_time_des}</td>
            <td>{$lang.admin_name}</td>
            <td>{$recharge.pay_money|price}</td>
            <td>{$recharge.money_from_des|escape|default:-}</td>
            <td>{if $recharge.pay_status eq 80}
                    {$lang.apply_withdraw}
                {elseif $recharge.pay_status eq 81}
                    {$lang.apply_denied}
                {elseif $recharge.pay_status eq 40}
                    {$lang.apply_success}
                {/if}</td>
            <td>
             
                <a href="index.php?app=order&amp;act=view_withdraw&amp;id={$recharge.recharge_id}">{$lang.view}</a>
                
            </td>
                </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="7">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}--> </table>
    <div id="dataFuncs">
        <div class="pageLinks">{if $recharge_arr}{include file=page.bottom.html}{/if}</div>
    </div>
    <div class="clear"></div>
</div>
{include file="footer.html"}
<script type="text/javascript">
    $(function(){
        var site_url="{$site_url}";
       console.log('ss');
        $(".confirm_click").click(function(event) {
            if ($(this).attr("disabled")) {
                return ;
            }
            var receive_url=site_url + "admin/index.php?app=order&act=received_pay&order_id=";
            var order_id = $(this).attr("order_id");
            var seller_id= $(this).attr("seller_id");
            var a_obj=$(this);
            receive_url=receive_url+order_id;
            var content=  prompt("您将确认订单"+seller_id+"？备注信息：");
            //如果不是取消就发送ajax请求
            if (content!=null) {
               $.ajax({
                    url: receive_url,
                    type: 'POST',
                    dataType: 'json',
                    data: {remark: content},
                    success:function(data){
                        if (data.code==0) {
                            a_obj.attr("disabled", "disabled"); 
                            a_obj.css("text-decoration","none");
                            a_obj.css("color", "#4A4747"); 
                            a_obj.html("待发货");

                        }else{
                            alert(data.message+",错误码是"+data.code);
                           
                        }
                    }
                })
            }
        });

        $('.to_fac_confirm').click(function () {
            if ($(this).attr("disabled")) {
                return ;
            }
            var receive_url=site_url + "admin/index.php?app=order&act=confirm_pay_tofac&order_id=";
            var order_id = $(this).attr("order_id");
            var seller_id= $(this).attr("seller_id");
            var a_obj=$(this);
            receive_url=receive_url+order_id;
            var content=  prompt("您将给商家付款"+seller_id+"？备注信息：");
            //如果不是取消就发送ajax请求
            if (content!=null) {
               $.ajax({
                    url: receive_url,
                    type: 'POST',
                    dataType: 'json',
                    data: {remark: content},
                    success:function(data){
                        if (data.code==0) {
                            $(a_obj).attr("disabled", "disabled"); 
                            $(a_obj).css("text-decoration","none");
                            $(a_obj).css("color", "#4A4747"); 
                            $(a_obj).html("已完成");

                        }else{
                            alert(data.message+",错误码是"+data.code);
                           
                        }
                    }
                })
            }     

        });
    })
</script>